<div class="media">
    <div class="media-left"><a href="{% url 'publication' publication_id=comment.publication.id %}">{{ comment.publication.title }}</a> </div>
    <div class="media-body">
        <div class="media-heading">
            <a href="{% url 'user_profile' username=comment.author.username %}">{{ comment.author.get_full_name }}</a>
            <span class="label label-{% if comment.rating > 0 %}success{% elif comment.rating == 0 %}default{% else %}danger{% endif %} pull-right">{{ comment.rating }}</span>
            <span class="pull-right">{{ comment.created_at }}</span>
        </div>
        {{ comment.comment }}
    </div>
</div>
