<ul>
{% for organization in organizations %}
    <li><a href="{% url 'organization_profile' slug=organization.slug %}">{{ organization.title }}</a>
    {% if request.user.is_authenticated %}
        {% if organization.founder != request.user %}
            {% if request.user not in organization.subscriber.all %}
            <a href="{% url 'subscribe_organization' slug=organization.slug %}" class="btn btn-success">Subscribe</a>
            {% else %}
            <a href="{% url 'unsubscribe_organization' slug=organization.slug %}" class="btn btn-info">Unsubscribe</a>
            {% endif %}
        {% else %}
            {% if organization.is_active %}
            <a href="{% url 'organization_edit' slug=organization.slug %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'organization_delete' slug=organization.slug %}" class="btn btn-danger">Delete</a>
            {% endif %}
        {% endif %}
    {% endif %}
    </li>
{% endfor %}
</ul>
