{% extends 'base/layouts/main.html' %}

{% block title %}Write Publication{% endblock %}

{% block content %}

  {% include 'base/snippets/user_profile_head.html' with active_page='publications' %}

  <h2>Create Publication</h2>
  <form method="post">
      <div class="form-group">
    {% csrf_token %}
    {{ form.as_p }}
      </div>
    <input class="btn btn-success" type="submit" name="submit_published" value="published">
    <input class="btn info" type="submit" name="submit_draft" value="draft">
  </form>
{% endblock %}
