{% extends 'base/layouts/main.html' %}


{% block content %}

{% include 'base/snippets/user_profile_head.html' with active_page='projects' %}

<ul class="nav nav-pills">
  <li role="presentation" {% if subactive_page == 'subscribes' %}class="active"{% endif %}><a href="{% url 'user_subscribe_projects' username=user.username %}">Subscribes</a></li>
  <li role="presentation" {% if subactive_page == 'created' %}class="active"{% endif %}><a href="{% url 'user_created_projects' username=user.username %}">Created</a></li>
</ul>
{% if request.user.is_authenticated and request.user.can_create_organization and subactive_page == 'created' %}
<a href="{% url 'project_create' %}" class="btn btn-success">Create Your Project</a>
{% endif %}
{% if subactive_page == 'subscribes' %}
  {% include 'base/snippets/subscribes_projects_list.html' with projects=projects %}
{% elif subactive_page == 'created' %}
  {% include 'base/snippets/created_projects_list.html' with projects=projects %}
{% endif %}
{% endblock %}
